<div>
    <div class = "text">
        <h1>Hey!</h1>
        <p>I’m Aditya, a developer studying computer science at the University of Waterloo. Here you can find links to my Resume and socials until I get better ideas about what to do with this page.</p>
        <ul>
            <li> <a href="https://www.linkedin.com/in/aditya-batra1/>" target="_blank"> <img src="/assets/img/linkedin.png" alt="LinkedIn" class ="socials"> </a></li> 
            <li> <a href="https://github.com/adityabatra" target="_blank"><img src="/assets/img/github.png" alt="Github" class ="socials"> </a></li>
            <li> <a href="mailto:email@example.com" target="_blank"><img src="/assets/img/email.png" alt="mail" class ="socials"></a></li>
            <li> <a href ="https://github.com/adityabatra/Resume" target ="_blank"><img src="/assets/img/resume.png" alt="Resume" class ="socials"> </a></li>
        </ul>
    </div>
 <img src="/assets/img/LinkedIn_Picture.jpeg" id ="myPicture" alt="image">
    
</div>